[submodule "lib/NMEA2000"]
	path = lib/NMEA2000
	url = https://github.com/ttlappalainen/NMEA2000.git
[submodule "lib/protobuf"]
	path = lib/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
